version: "3.9"

services:
  mysql_db:
    image: mysql:8.0
    container_name: mysql
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-p${DB_PASS:-12345}" ]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s

volumes:
    mysql_data:

