spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gameapi?useSSL=false&allowPublicKeyRetrieval=true&autoReconnect=true&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: usuario1
    password: 12345

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  flyway:
    enabled: true
    locations: classpath:db/migration/mysql
    clean-on-validation-error: true
    baseline-on-migrate: true
    clean-disabled: false
